<h2>Create Tweet</h2>

<form action="/tweets" method="post">
    <label for="content">Content: </label>
    <input id="content" type="text" name="content">
    <br>
    <input type="submit" name='submit' value='submit'>
</form>
