<h2>Edit Tweet</h2>
<h2><%=@tweet.content%></h2>
<form action="/tweets/<%=@tweet.id%>/edit" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="content">Content:</label>
    <input id="content" type="text" name="content">
    <br>
    <input type="submit" name="submit" value="submit">
</form>
