<h1><%=@user.username%></h1>
<h2>Tweet</h2>
<p><%=@tweet.content%></p>
<br>
<form action="/tweet" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="Delete Tweet">
</form>
