<h1><%=@tweet.user.username%>'s Tweet</h1>
<p><%=@tweet.content%></p>
<br>
<br>
<a href="/tweets">Return to Tweets</a>
<br>
<br>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<br>
<br>
<form action="/tweets/<%=@tweet.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" name="Delete Tweet" value="Delete Tweet">

</form>
