<h1>Welcome, <%=@user.username%></h1>

<h2>All Tweets</h2>
<%@tweets.each do |tweet|%>
     <p>Content: <%=tweet.content%></p>
<%end%>
<form action="/logout" method="post">
    <input type="submit" name="Logout">
</form>
