<h1>Create An Account</h1>

<form action="/signup" method="post">
    <label for="user_name">User Name: </label>
    <input id="user_name" type="text" name="user[user_name]">
    <br>

    <label for="email">Email: </label>
    <input id="email" type="text" name="user[email]">
    <br>

    <label for="password">Password: </label>
    <input id="password" type="text" name="user[password]">
    <br>

    <input type="submit" name="Create Account" value="Create Account">
</form>
