<h1>Login</h1>

<form action="/tweets" method="post">
    <label for="user_name">User Name: </label>
    <input id="user_name" type="text" name="username">
    <br>

    <label for="user_email">Email: </label>
    <input id="user_email" type="text" name="email">
    <br>

    <label for="user_password">Password: </label>
    <input id="user_password" type="text" name="password">
    <br>

    <input type="submit" name="Login" value="Login">

</form>
